h1{
    color:rgb(0, 0, 0);
    text-align: center;
}

li{
    list-style-type: none;
    text-align: center;
    margin-left: -7ch;
    cursor: pointer;
    user-select: none;
}

#leftMenu{
    align-items: center;
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#center{
    float:left;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sliders{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#menuListTop{
    height:21vh;
}

#menuListBottom{
    height:34vh;
}

#centralInfo{
    height:58vh;
}

#simButtons{
    width: 100%;
}

#expensesMenu{
    display: none;
    position: absolute;
    top: 81vh;
    left: 6ch;
}

#expensesMenuContent li{
    outline: solid;
    outline-color: black;
}

.leftMenuButton{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.simButton{
    width: 32%;
    margin: 1px;
}

.leftMenuUL{
    width: 75%;
    overflow: auto;
}